*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: blueviolet;
}
/*ESTILOS DE MI PRIMERA CARA*/
.btn1 {
    width: 211px;
    height: 71px;
    border: dashed;
    font-size: xx-large;
    position: static;
    margin: 45px;
    padding: 16px;
    display: table-column;
}
 .clv{
        height: 72px;
        width: 414px;
        border: dashed;
        color: #696768;
        font-size: xx-large
}

.CARA1{
    display: inline;
}
.imagenes3{
    display: flex;
}
.imagen1{
    width: 20%;
    height: 20%;
}
.imagen2{
    width: 50%;
}
h1 {
    font-family: 'Monoton', cursive;
    font-family: 'Monoton', cursive;
    font-size: 100px;
}
p {
    TEXT-ALIGN: center;
    FONT-SIZE: 34px;
    font-family: fantasy;
    color:black;
}
/*ESTILOS DE MI SEGUNDA CARA */

.cajatexto{
    padding: 20%;
    text-align: center;
    padding-top: 0%;
    width: 50%;
    height: 30%
}
.codigo {
    width: 199px;
    height: 74px;
    border-style: dotted;
    font-size: xx-large;
    text-align: center;
}
.hide {
    display: none;
}
.p{
    font-family: 'Monoton', cursive;
    font-family: 'Monoton', cursive;
    font-size: 100px; 
}  
.contenedor{
    width: 100px;
    height: 20px;
    text-align: justify;
    box-sizing: 30px;
}
.h3{
    
    font-size: 38PX;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 195px;
    margin-inline-end: 195px;
    font-weight: bold;
    text-align: center;

}
.cajamensaje {
    WIDTH: 439px;
    height: 222px;
    text-align: center;
    border: outset;
    color: #8aedfa;
}
.btn2 {
    width: 125px;
    height: 48px;
    border: dotted;
    background-color: #62d5c1;
    position: static;
    text-align: center;
}
.btn3 {
    width: 125px;
    height: 48px;
    border: dotted;
    background-color: rgb(64, 238, 157);
    position: static;
    text-align: center;
}

.hide{
    display: none;
}
/*estilos de mim tercera cara*/
.CARA3{
text-align: center;
}
.p{
    text-align: center;
    color: black;
}
.endout{
    width: 100px;
    height: 20px;
    text-align: justify;
    box-sizing: 30px;
}
.endstartagain{
    width: 100px;
    height: 20px;
    text-align: justify;
    box-sizing: 30px;
}
.hide{
    display:none;
}
footer {
    text-align: center;
    font-family: cursive;
} 